@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea {
    font: 400 16px 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #3f3f4a;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #6879d9;    /* color of the scroll thumb */
  }