.secao-1 {
    width: 100vw;
    height: 100vh;
    background-color: #141419;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 100px;  
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 32px;
    height: 32px;
    transition: width 300ms, height 400ms;
}

h1 {
    color: #fff;
    font-size: 50px;
}

h3 {
    color: #42424d;
}


img:hover {
    width: 40px;
    height: 40px;
}

.secao-2 {
    width: 100vw;
    height: 100vh;
    background-color: #16161b;
    
}

a {
    margin: 0 auto;
}

.botao-orcamento {
    width: 300px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: #6879d9;
    color: #fff;
    cursor: pointer;
    transition: transform 700ms, background-color 400ms;
}

.botao-orcamento:hover {
    transform: translateY(7px);
    background-color: #374699;
}


